# Ignorar entorno virtual
venv/
.venv/

# Ignorar archivos de configuración sensibles
.env

# Ignorar archivos de migraciones si no se deseara versionar.
#/migrations/

# Ignorar archivos de compilación Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema operativo (para macOS y Windows)
.DS_Store
Thumbs.db

# Archivos de logs (opcional)
*.log
